In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
 dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
 dataset=pd.get_dummies(dataset,drop_first=True)
dataset = dataset.astype(int)

In [6]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {
    'criterion': ['squared_error', 'absolute_error'],
    'max_features': ['sqrt', 'log2'],
    'n_estimators': [10, 100]
}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [12]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.049998,6.250191e-03,0.006250,0.007654,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.788673,0.736006,0.813435,0.780254,0.752948,0.774263,0.027188,8
1,0.441821,8.704153e-03,0.021876,0.007654,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.804000,0.767268,0.828525,0.816265,0.758948,0.795001,0.027298,4
2,0.046874,7.893059e-07,0.003125,0.006249,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.797129,0.730425,0.806611,0.802860,0.754035,0.778212,0.030463,7
3,0.483849,3.215736e-02,0.025018,0.009420,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.812324,0.777434,0.827225,0.827371,0.757874,0.800446,0.028018,2
4,0.137203,2.112862e-02,0.000000,0.000000,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.777975,0.749198,0.818316,0.811674,0.767837,0.785000,0.026257,5
5,1.206499,1.577624e-02,0.018749,0.006251,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.801462,0.768650,0.839427,0.831958,0.758509,0.800001,0.032503,3
6,0.117062,1.538403e-02,0.000627,0.001254,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.783160,0.759399,0.815929,0.800621,0.740668,0.779955,0.027194,6
7,1.008850,1.979560e-01,0.013067,0.008525,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.811732,0.773466,0.839746,0.823887,0.756697,0.801106,0.031180,1

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 24
BMI: 34
Children: 5
Sex Male 0 or 1: 1
Smoker Yes 0 or 1: 1

In [16]:
Future_Prediction = grid.predict([[age_input, bmi_input, children_input, sex_male_input, smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[46426.59]